* {
    box-sizing: border-box;
  }
  
  /* bodyとh1タグのmargin-topを0にするとデフォルトで空いている上の隙間を0にできる */
  body {
    margin-top: 0;
  }

  #title {
    margin-top: 0;
    padding-top: 23px;
  }
  
  header {
    height: 85px;
    width: 100%;
    background-color: rgba(34,49,52,0.9);
    position :static;
    top: 0;
    text-align: center;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    z-index: 10;
  }

  p {
   font-size: 21px;
   font-weight: bold;
   font-family: 'Courier New', Courier, monospace;
  }

 .container2 {
    position: relative;
    margin-left: 3%;
    font-family: 'Courier New', Courier, monospace;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
  }

 #codepen {
    position: relative;
    width: 98%;
    margin-right: auto;
    margin-left: auto;
 }

 footer {
  height: 21px;
  width: 100%;
  background-color: rgba(34,49,52,0.9);
  position :static;
  bottom: 0;
  text-align: center;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  z-index: 10;
}

h2 {
  margin-bottom: 0;
  font-family: 'Courier New', Courier, monospace;
}

ul li {
  font-size: 18px;
}
